:root {
    --primary-color: #202020;
    --secondary-color: #F65282;
    --btn-font: 'Montserrat', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #1b1b1b;
}

h1 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 70px;
    letter-spacing: 6px;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h3 {
    font-size: 18px;
    font-weight: 100;
}

.logo {
    width: 150px;
}

.navbar {
    font-family: 'Roboto', sans-serif !important;
    color: white;
    background-color: var(--primary-color);
    padding: 12px 60px 26px 60px;
}

.navbar-brand {
    color: white !important;
    margin-left: 0px;
}
.nav-link, .nav-link:hover {
    color: white;
    font-weight: 100;
}
.active {
    color: white !important;
    font-weight: 500;
}

.navbar-nav {
    margin-top: 20px;
}

.navbar-toggler {
    background-color: var(--secondary-color);
    padding: 0px 3px;
}

.navbar-toggler:focus {
    border: 1px;
}


/* homepage hero */
.hero {
    text-align: center;
    background-image: url("../img/bg.png");
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 0px;
    vertical-align: center;
    width: 100%;
    z-index: -10;
}


.header {
    padding-top: 200px;
}

.btn-primary {
    color: var(--primary-color);
    font-family: var(--btn-font);
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    background-color: white;
    border-radius: 50px;
    padding: 14px 30px;
    text-decoration: none;
}

/* gallery */
.home-gallery {
    text-align: center;
    width: 100%;
    margin: 120px auto 80px auto;
    padding: 0 100px;
}

.section {
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
}

.fotos {
    margin-left: 10px;
    margin-right: 10px;
}


/* footer */
.footer {
    width: 100%;
    margin-top: 80px;
    padding: 30px 40px;
    background-color: var(--primary-color);
    background-color: greenyellow;
    display: flex;
    justify-content: space-between; 
}

.social {
    text-align: center;
    vertical-align: middle;
}

.fa-brands {
    font-size: 20px;
    margin: 0px 10px;
    vertical-align: middle;
}

.rights {
    text-align: right;
    font-size: 16px;
}

/* about me */

.hero-about {
   display: flex;
   background-color: #1b1b1b;
}

.background {
    background-image: url("../img/bg2.png");
    background-size: 100%;
    height: 780px;
    width: 50%;
    background-repeat: no-repeat;
    background-position-x: center;
    padding-top: 30px;
    margin-top: 90px;
    margin-bottom: 50px;
}

.about-me {
  width: 50%;
  padding: 20px 40px;
  margin-top: 80px;
}

.about-me h1 {
 font-size: 68px;
 margin-top: 20px;
}

.about-me h2 {
    font-size: 18px;
    color: var( --secondary-color);
    margin-top: 40px;
    margin-bottom: 40px;
}

.about-description {
    margin-top: 40px;
    font-size: 18px;
    line-height: 150%;
}

.about-social {
      text-align: left;
    margin-bottom: 80px;
}

.camera {
    width: 420px;
    display: block;
    margin-bottom: 70px;
}

/* gallery */

.hero-gallery, .hero-contact {
    text-align: center;
    margin-top: 130px;
}   


/* contact */
.section-contact {
    margin-top: 200px;
}


.detail {
    margin-top: 50px;
    font-size: 18px;
}

.contact-h2 { 
     color: var(--secondary-color);
     font-size: 14px;
}

.detail i {
    margin-right: 10px;
    
}



/* media queries */
@media (max-width: 992px) {

    .hero {
        background-size: 160%;
        background-position-x: center;
        padding-top: 30px;
        margin-bottom: 50px;
    }

    .section {
        margin-top: 0px;
        display: block;
    }

    .fotos {
        margin-left: 10px;
        margin-right: 10px;
    }

    h1 {
        font-size: 50px;
    }
    
     .home-gallery {   
        display: block;
        text-align: center;
        width: 100%;
        margin: 0px auto 80px auto;
    }

    .fotos  {
        margin-top: 40px;
        width: 100%;
    }

    /* about */
    .background {
        display: none;
    }
    .about-me {
        width: 100%;
    }

    .camera {
        width: 100%;
    }
}


@media (max-width: 567px) {

    .navbar {
        padding: 12px 0px 26px 20px;
    }

    .hero {
        background-size: 250%;
        background-position-x: center;
        padding-top: 30px;
        margin-bottom: 50px;
    }
} 